<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BloomBrilliance School - Best Educational Institute for your Child</title>
    <!-- cdn link to itegrate tailwind in our html -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Google fonts -->
    <link href="//fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="assets/css/style-starter.css">
</head>

<body class="text-sky-700">
    <nav class="fixed-top flex justify-between p-3 bg-sky-50">
        <div class="flex justify-between gap-5 items-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                 class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <div style="fill: currentcolor;" class="flex justify-between gap-5 items-center">
                <img class = "set-width" src="assets/images/download.png" alt=" ">
                <a class="text-lg">BrillianceBloom School</a>
            </div>
        </div>
        <div class="flex justify-between gap-5 items-center">
            <div></div>
        </div>
        <div class="flex justify-between gap-5 items-center">
            <a href="#about" sec:authorize="isAnonymous()" th:href="@{/home}">Home</a>
            <a href="#login" sec:authorize="isAnonymous()" th:href="@{/login}">Login</a>
            <a href="#programs" th:href="@{/courses}">Courses</a>
            <a href="#contact" th:href="@{/contact}">Contact</a>
            <a href="#dashboard" sec:authorize="isAuthenticated()" th:href="@{/dashboard}">Dashboard</a>
            <a href="#logout" sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>
        </div>
    </nav>
    <section class="flex justify-around items-center mb-6">
        <div class="section1-width">
            <h1 class="text-5xl font-mono mb-6"><b>Your Kids Deserve The <div>Best Education</div></b></h1>
            <p class="text-lg font-mono">Active Learning, Expert Teachers & Safe Environment.</p>
            <a th:href="@{/contact}" class="bg-sky-800 text-stone-50 rounded-lg admission-btn" type="button">Admission Now</a>
        </div>
        <div class="flex">
            <h3 class="text-lg font-mono mt-10 bg-sky-200 banner-style">Back to School</h3>
            <img src="assets/images/banner.png" class=banner alt=" ">
        </div>
    </section>
    <section class="py-5" id="features">
        <div class="py-4">
            <div class="mb-4 flex flex-col items-center">
                <p class="font-mono text-sm font-bold mb-4">Best Features</p>
                <h3 class="font-mono text-3xl font-bold">Achieve Your Goals With <br>BloomBrilliance School</br></h3>
            </div>
            <div class="grid grid-cols-4 gap-4 p-8">
                <div class="bg-teal-50">
                    <div class="flex flex-col p-6 items-center">
                        <div class="mt-8 mb-4 text-2xl"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 0 0 2.625.372 9.337 9.337 0 0 0 4.121-.952 4.125 4.125 0 0 0-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 0 1 8.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0 1 11.964-3.07M12 6.375a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0Zm8.25 2.25a2.625 2.625 0 1 1-5.25 0 2.625 2.625 0 0 1 5.25 0Z" />
                        </svg>
                        </div>
                        <h4 class="text-xl font-bold font-mono"><a>Expert Teachers</a></h4>
                        <p class="font-mono">Well experienced teachers for each subject. No common teacher for all subjects.</p>
                    </div>
                </div>
                <div class="bg-teal-50">
                    <div class="flex flex-col p-6 items-center">
                        <div class="mt-8 mb-4 text-2xl"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 0 0 6 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 0 1 6 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 0 1 6-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0 0 18 18a8.967 8.967 0 0 0-6 2.292m0-14.25v14.25" />
                        </svg>
                        </div>
                        <h4 class="text-xl font-bold font-mono"><a>Quality Education</a></h4>
                        <p class="font-mono">Best curriculum based on the Cambridge international framework.</p>
                    </div>
                </div>
                <div class="bg-teal-50">
                    <div class="flex flex-col p-6 items-center">
                        <div class="mt-8 mb-4 text-2xl"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M4.26 10.147a60.438 60.438 0 0 0-.491 6.347A48.62 48.62 0 0 1 12 20.904a48.62 48.62 0 0 1 8.232-4.41 60.46 60.46 0 0 0-.491-6.347m-15.482 0a50.636 50.636 0 0 0-2.658-.813A59.906 59.906 0 0 1 12 3.493a59.903 59.903 0 0 1 10.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.717 50.717 0 0 1 12 13.489a50.702 50.702 0 0 1 7.74-3.342M6.75 15a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Zm0 0v-3.675A55.378 55.378 0 0 1 12 8.443m-7.007 11.55A5.981 5.981 0 0 0 6.75 15.75v-1.5" />
                        </svg></div>
                        <h4 class="text-xl font-bold font-mono"><a>Alumni Support</a></h4>
                        <p class="font-mono">Life time Alumni support through various channels available .</p>
                    </div>
                </div>
                <div class="bg-teal-50">
                    <div class="flex flex-col p-6 items-center">
                        <div class="mt-8 mb-4 text-2xl"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 21v-8.25M15.75 21v-8.25M8.25 21v-8.25M3 9l9-6 9 6m-1.5 12V10.332A48.36 48.36 0 0 0 12 9.75c-2.551 0-5.056.2-7.5.582V21M3 21h18M12 6.75h.008v.008H12V6.75Z" />
                        </svg>
                        </div>
                        <h4 class="text-xl font-bold font-mono"><a>Best Scholarships</a></h4>
                        <p class="font-mono">Best Scholarships available for the low income family students.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- home 4grids block -->
    <section class="flex justify-around items-center mb-8">
        <img class="p-3 photo" src="assets/images/img1.jpg" alt=" ">
        <div class="section2-width">
            <h1 class="text-5xl font-mono mb-6"><b>We Are The Best Choice For Your Child</b></h1>
            <p class="text-lg font-mono mb-6">With over 20 years of experience, best teachers, world-class infrastructure,
                larger Alumni community, we are the best choice for your child education.</p>
            <ul class="mt-4">
                <li class="flex items-center font-mono mb-2"><svg class="w-3 h-3 mr-2 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 13 5.7-5.326a.909.909 0 0 0 0-1.348L1 1"/>
                </svg>Special Education</li>
                <li class="flex items-center font-mono mb-2"><svg class="w-3 h-3 mr-2 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 13 5.7-5.326a.909.909 0 0 0 0-1.348L1 1"/>
                </svg></i>Access more than 100K online courses</li>
                <li class="flex items-center font-mono mb-2"><svg class="w-3 h-3 mr-2 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 13 5.7-5.326a.909.909 0 0 0 0-1.348L1 1"/>
                </svg>Traditional Academies</li>
            </ul>
            <a th:href="@{/contact}" class="bg-sky-800 text-stone-50 rounded-lg admission-btn" type="button">Apply Now</a>
        </div>
    </section>

    <!-- footer block -->
    <div th:replace="~{footer :: footer}">...</div>
    <!-- //footer block -->

</body>

</html>